* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.scoreboard {
  display: flex;
  gap: 5em;
  text-align: center;
}

.scoreboard p {
  font-size: 32px;
  margin-top: 0.5em;
}

.turns-container {
  display: flex;
  gap: 10em;
}

.turns-container h2 {
  font-size: 60px;
}

.weapons-container button {
  font-size: 18px;
  background-color: transparent;
  padding: 1em;
  cursor: pointer;
}

.weapons-container button:hover {
  background-color: lavender;
}
